@using System.Globalization
@using CarHostingWeb.Services

@inject NavigationManager NavigationManager
@inject LocalizationService Localization;

<div class="dropdown d-flex align-content-center justify-content-center">
    <button class="btn btn-light bg-transparent border-0 justify-content-center align-content-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/flags/@CurrentFlag-flag.svg" alt="@CurrentCulture flag" width="20" height="14" class="m-0" />
    </button>
    <ul class="dropdown-menu dropdown-flags">
        <li>
            <a class="dropdown-item px-2 d-flex align-items-center" href="#" @onclick="@(() => ChangeCulture("en"))">
                <img src="assets/flags/en-flag.svg" width="20" height="14" alt="us-flag" />
            </a>
        </li>
        <li>
            <a class="dropdown-item px-2 d-flex align-items-center" href="#" @onclick="@(() => ChangeCulture("es"))">
                <img src="assets/flags/es-flag.svg" width="20" height="14" alt="es-flag" />
            </a>
        </li>
    </ul>
</div>

@code {
    private string CurrentCulture => CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    private string CurrentFlag => CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

    private void ChangeCulture(string languageCode)
    {
        var uri = new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        // Ensure leading slash
        if (!uri.StartsWith("/"))
        {
            uri = "/" + uri;
        }

        var cultureEscaped = Uri.EscapeDataString(languageCode);
        var uriEscaped = Uri.EscapeDataString(uri);

        NavigationManager.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
    }
}