@inherits LayoutComponentBase

@using CarHostingWeb.Components.Shared
@using CarHostingWeb.Services.Authentication

@inject NavigationManager Navigation
@inject FirebaseAuthService FirebaseAuthService

<CascadingValue Value="this">
    <div>
        <div class="page">
            <main>
                <NavMenu />
                @if (IsAdminPage)
                {
                    <AdminNavMenu />
                }
                
                <article class="@(IsAdminPage ? "admin-content" : "" )">
                    @Body
                </article>
                
                @if (!IsAdminPage)
                {
                    <ContactSection/>
                }
                
            </main>
        </div>
        
        <!-- WhatsApp Floating Button - Only show on non-admin pages -->
        @if (!IsAdminPage)
        {
            <FloatingContactButton PhoneNumber="+34636466037"/>
        }   
        
        <div id="blazor-error-ui" data-nosnippet>
            An unhandled error has occurred.
            <a href="." class="reload">Reload</a>
            <span class="dismiss">🗙</span>
        </div>
    </div>
</CascadingValue>

@code {
    private bool IsAdminPage => Navigation.ToBaseRelativePath(Navigation.Uri).StartsWith("admin");

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FirebaseAuthService.InitializeAsync();
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}