.custom-input-group[b-vuaduq5h49] {
    border-bottom: 2px solid #000;
    border-radius: 0;
}

.custom-input-group .form-control[b-vuaduq5h49] {
    border: none;
    background: transparent;
    box-shadow: none;
}

.custom-input-group .form-control:focus[b-vuaduq5h49] {
    border: none;
    box-shadow: none;
}

.custom-input-group:focus-within[b-vuaduq5h49] {
    border-bottom-color: #0d6efd;
}

.input-group-text[b-vuaduq5h49] {
    border: none;
    background: transparent;
    padding-left: 0;
}

.search-icon[b-vuaduq5h49] {
    width: 20px;
    height: 20px;
}