@page "/admin"
@using CarHostingWeb.Components.Shared

<div class="d-flex justify-content-center bg-primary-subtle rounded-3 shadow shadow-sm mb-2">
    <h2 class="">Manage Cars</h2>
</div>
 
<DisplayCars />