@page "/admin"
@rendermode InteractiveServer
@using CarHostingWeb.Components.Shared

<AdminGuard>
    <div class="container">
        <SectionHeader LocalizationString="ManageCars" IconClassString="bi bi-car-front-fill me-1 text-primary" IsTop="@true"/>
        <DisplayCars />
    </div>
</AdminGuard>
